<footer class="text-white" style="background-color:#222;">
        <div class="container-fluid text-center text-sm-left position-relative py-5">
            <div class="row justify-content-center align-items-center align-items-center">
                <div class="col-auto col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <h3 class="pb-2 text-y border-y">Navigation</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="text-light" href="/">Home</a></li>
                        <li class="mb-2"><a class="text-light" href="/getting-started">Getting Started</a></li>
                        <li class="mb-2"><a class="text-light" href="/guidelines">Guidelines</a></li>
                        <li class="mb-2"><a class="text-light" href="/legal">Legal</a></li>
                        <li class="mb-2"><a class="text-light" href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-auto col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <h3 class="pb-2 border-y text-y">Steps</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="text-light" href="/getting-started#step1">Step 1: Registration&nbsp;</a></li>
                        <li class="mb-2"><a class="text-light" href="/getting-started#step2">Step 2:&nbsp;Submit your documents</a></li>
                        <li class="mb-2"><a class="text-light" href="/getting-started#step3">Step 3: Attend Intake Interview&nbsp;</a></li>
                        <li class="mb-2"><a class="text-light" href="/getting-started#step4">Step 4:&nbsp;cheduling and the First Visit</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pt-5 pb-4 bg-p text-light">
            <div class="container">
                <div class="col-md col-lg text-center text-md pb-4">
                    <h5 class="mb-3 text-y">&nbsp;Safeheaven-keepers</h5>
                    <p class="mb-1"><i class="fa fa-map-marker fa-fw"></i>&nbsp;<a class="text-white" target="_blank" href="https://maps.google.com/?q=181+Graves+Ave,+Sacramento,+CA+95838">181 Graves Ave, Sacramento, CA 95838</a></p>
                    <p class="mb-1"><i class="fa fa-phone fa-fw"></i>&nbsp;<a href="tel:+1 916 470 6528" class="text-white">+1 916 470 6528</a></p>
                    <p class="mb-1"><i class="fa fa-envelope fa-fw"></i>&nbsp;<a href="mailto:safeheavenkeepers@gmail.com" class="text-white">safeheavenkeepers@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="text-center text-lg-left py-2 small font-italic text-y" style="background-color: #080808">
            <div class="container">
                <p class="m-0">© <%= (new Date()).getFullYear() %> <a class="text-y" href="/">Safeheaven-Keepers</a> ~ All rights reserved</p>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="/javascripts/script.min.js"></script>
</body>

</html>