<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeHeaven-Keepers | <%= title %> </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
    <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#662d91">
    <link rel="shortcut icon" href="/icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#662d91">
    <meta name="msapplication-TileImage" content="/icon/mstile-144x144.png">
    <meta name="msapplication-config" content="/icon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="/stylesheets/styles.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
    <header>
        <div class="container-fluid"><a href="/"><img class="img-fluid d-block pulse animated" src="/img/shk.png" alt="Safeheaven-keepers Logo" width="6%" style="padding-top:3rem;padding-bottom:3rem;margin-right:auto;margin-left:auto;"></a></div>
        <div class="navbar navbar-expand-md navbar-dark"
            style="background-color:#662d91;">
            <div class="container"><span class="text-white d-md-none">Treedax Services LLC</span><button class="btn btn-link navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"><span class="navbar-toggler-icon"></span></button>
                <div id="main-nav" class="navbar-collapse collapse">
                    <ul class="navbar-nav nav-fill w-100">
                        <li class="nav-item"><a class="text-uppercase nav-link <% if (pathname == "/") { %> active <% } %>" href="/">Home</a></li>
                        <li class="nav-item"><a class="text-uppercase nav-link <% if (pathname == "/getting-started") { %> active <% } %>" href="/getting-started">Getting Started</a></li>
                        <li class="nav-item"><a class="text-uppercase nav-link <% if (pathname == "/guidelines") { %> active <% } %>" href="/guidelines">Guidelines</a></li>
                        <li class="nav-item"><a class="text-uppercase nav-link <% if (pathname == "/legal") { %> active <% } %>" href="/legal">Legal</a></li>
                        <li class="nav-item"><a class="text-uppercase nav-link <% if (pathname == "/biography") { %> active <% } %>" href="/biography">Biography</a></li>
                        <li class="nav-item"><a class="text-uppercase nav-link <% if (pathname == "/contact") { %> active <% } %>" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
<body class="text-dark">