<% include partials/header %>

<div class="container">
    <div class="block-content shadow-sm">
        <center><h1>Brenda Tindal</h1>
        <h5>brendaT@safeheavenkeepers.com</h5></center>
        <h6>Brenda has the following qualifications:</h6>
        <ul>
            <li>Over 15 years experience working with Sacramento County Children's Services.</li>
            <li>Knowledgeable of principles and technique in assessing the needs of families.</li>
            <li>Exceptional Knowledge of family dynamics and adult learning process</li>
            <li>Interepeted and theorical foundation in social and management skills</li>
            <li>Posses's excelent customer service techniques</li>
        </ul>
        <p>She as work exeperince working as a Drug Prevention Specialist, Child Developement Specialist, Family Service Worker and more.</p>
    </div>
</div>

<% include partials/footer %>