<% include partials/header %>

<div class="container text-dark">
        <div class="block-content bg-white shadow-sm">
            <div class="col">
                <h2 id="step1">Step 1: Registration</h2>
                <p class="lead">Initiating services with the Monitor is easy. The entire process can be completed quickly. This depends solely on the parents involved in establishing the service. The Monitor will work diligently to move through the four stages of getting
                    started as the goal is to ensure that the visiting parent and child or children are able to visit with each other in a safe and comfortable environment and the monitor will rely on you to assist in this process.</p>
            </div>
            <div class="col">
                <h2 id="step2">Step 2: Submit your documents</h2>
                <p class="lead">After you have completed the new client registration packet, the first phase of the intake process begins.<br></p>
                <ol class="lead">
                    <li>Copies of any protective orders filed.</li>
                    <li>Current court order.</li>
                    <li>Any Judicial Council form relating to supervised visitation orders.</li>
                    <li>A report of any written records of allegations of domestic violence or abuse.</li>
                    <li>An account of the child or children’s health needs if they have a chronic health condition.</li>
                </ol>
                <p>Other public information may also be obtained. These documents will be reviewed to assess the nature and degree of risk for your case (Reference Source: 2017 Uniform Standards of Practice for providers of supervised visitation, Sect. 5.20(g)(2)(3).</p>
            </div>
            <div class="col">
                <h2 id="step3">Step 3:&nbsp;Attend Intake Interview</h2>
                <p class="lead">Following the documentation review, the next stage of the intake process will occur. The monitor will contact both parents to schedule separate intake orientation appointments.</p>
                <p class="lead">The intake interview will last between 45 min to an hour and the discussion will focus on the following areas:</p>
                <ol class="lead">
                    <li>Submitted documentation.</li>
                    <li>Standards &amp; Policies, the 2017 California Uniform standards of practice for providers of supervised visitation.</li>
                    <li>A preliminary visitation schedule.</li>
                    <li>The current fees and costs relative to services.</li>
                    <li>Discuss health and safety measures.</li>
                </ol>
            </div>
            <div class="col">
                <h2 id="step4">Step 4: Scheduling and the First Visit</h2>
                <p class="lead">During the interview you will be asked to provide information regarding your ideal visitation schedule. The duration will depend on the court order. The goal is to work with both parents to create a service schedule which takes into account
                    other life events (i.e. work, sleep and play). Scheduling can be challenging and creating a “perfect” schedule for both parents is not an exact science. At times, it will heavily rely upon each parent’s commitment to flexibility and
                    / or the Court Order.</p>
                <h5>Remember</h5>
                <p>Your focus on the child and the child’s needs, along with the mandate of the court order, is paramount in creating a service schedule which works for all parties involved.</p>
            </div>
            <div class="col">
                <p class="lead">Off-Site Visitation Monitoring – Supervised visitation services conducted at various locations within the community. Off-site visits allow the parent and child to go to various community locations such as:</p>
                <ul class="lead">
                    <li>Amusement Park</li>
                    <li>Local Park</li>
                    <li>Museum<br></li>
                    <li>Playground</li>
                    <li>Restaurants</li>
                    <li>Shopping Malls</li>
                </ul>
                <h5>Custody Exchange Monitoring</h5>
                <p class="text-secondary">This service allows the custodial parent to take the child to a prearranged, safe and neutral location. The non-custodial parent can then pick up the child and return the child to the same neutral location once the visit is finished. The
                    pick up times are staggered so that the parents do not have to be in contact with each other. The actual exchange of the children is monitored and documented.</p>
            </div>
        </div>
    </div>

<% include partials/footer %>