<% include partials/header %>

<div class="container" id="guidelines">
        <div class="block-content shadow-sm">
            <h1>Parent Guidelines</h1>
            <p>The following protocol must be accepted and understood by parents.</p>
            <h5>Tips for visiting Parents</h5>
            <ol type="1">
                <li><strong>The following must be followed:</strong>
                    <ul>
                        <li>The monitor will be present at all times during the visit.</li>
                        <li>The Custodial parent will arrive fifteen (15) minutes prior to the start of the scheduled exchange and return exactly at the end of the scheduled exchange. Custodial parent and/or designees will be required to leave the area immediately upon signing in/dropping off child(ren) and picking up child(ren).</li>
                        <li>The Non-custodial parent will arrive at the exact hour of the scheduled visit and will leave fifteen minutes (15) prior to end of the scheduled exchange.</li>
                        <li>Fees for services must be paid in full, in cash, prior to each visit. No refunds.</li>
                        <li>The visiting parent must arrive promptly at the scheduled time.</li>
                        <li>If a parent or designee is more than 5 minutes early or late, he/she will pay $2.00 for each additional minute.</li>
                        <li>Use of alcohol or non-prescribed drugs during a visitation is prohibited.</li>
                    </ul>
                </li>
                <li><strong>The following must be avoided:</strong>
                    <ul>
                        <li>Inappropriate touching of the child(ren)'s body.</li>
                        <li>Inappropriate demands for physical contact.</li>
                        <li>Use of foul language.</li>
                        <li>Shouting or yelling at ANYONE.</li>
                        <li>Threat of physical abuse or violence to ANYONE.</li>
                        <li>Attempts to move child(ren) away from the sight and/or hearing range of the monitor.</li>
                    </ul>
                </li>
                <li><strong>Parents and/or designees must avoid each other completely.</strong><br></li>
                <li><strong>There will be no correspondence (e.g. regarding child support) or messages to the other parent by means of child(ren), monitor, etc.</strong>
                    It is prohibited to use the visitation scheduled exchange site or surrounding areas for the service of court documents.
                </li>
                <li><strong>Monitors will only exchange information in regards to the child(ren)'s medical needs (i.e. medications, dietary needs) or visitations.</strong>
                    Only prescription medication may be sent in pre-measured doses. Any other dietary (food) requests are not monitored or enforced. Custodial and visiting parties are responsible to meet the care needs while children are in each individual's care, e.g. diaper changing. feeding, etc. SA cases are exempt from diaper changing.
                </li>
                <li><strong>Parents must not share detailed court information or court documents with the child(ren) or make promises to the child(ren) about future living arrangements, time sharing, or visitation modifications.</strong>
                    Discussions and activities should focus on the present so as to avoid added pressure and/or disappointment of the child(ren).
                </li>
                <li><strong>Parents will not speak negatively about the child(ren)'s other parent and his/her family in front of the child(ren).</strong></li>
                <li><strong>Parents must not question the child(ren) about the other parent's whereabouts or activities.</strong></li>
                <li><strong>Parents will not use alcohol or non-prescribed drugs 24-hours prior to or during their visit with the child(ren).</strong> Visits will be cancelled if a parent is suspected of using these substances.</li>
                <li><strong>Parents and children must speak English during the supervised visit unless there is a monitor present who speaks a family's native language.</strong> Parent must speak loud enough for monitor to hear. No whispering.</li>
                <li><strong>Phone calls to other individuals are not permitted at anytime during the supervised visit.</strong> The use of cellular phones is not permitted during the scheduled visit unless in case of emergencies only.</li>
                <li><strong>Weapons or any articles that could be used as weapons are not permitted on the supervised visit.</strong></li>
                <li><strong>Family members and friends authorized by the court to participate in the visitation that do not comply with the monitor's guidelines and rules will result in the cancellation of the supervised visit.</strong></li>
                <li><strong>The visiting parent may bring a snack for the child(ren), if agreed by the Custodial parent.</strong></li>
                <li><strong>No gifts for the child(ren) are permitted with the exception of the child(ren)'s birthday(s), Christmas, Hanukkah, or other holidays at which gifts are usually given.</strong> Gifts will also be allowed at the first visit when there has been a substantial amount of separation between visiting parent and child(ren). The Monitor will not monitor or enforce what is given. *Some cases are not allowed to exchange gifts.</li>
                <li><strong>If for any reason you are unable to bring the child(ren) or attend the visit with your child(ren) it is your responsibility to notify the monitor and the other parent.</strong> In the event of adult parties not having access to each other's telephone numbers, the monitor will confirm cancellations. Both parents must confirm mutually agreed upon cancellations with the monitor. If notice is less than 24-hours before the visits, you are responsible for paying the appropriate monitor's fee.</li>
                <li><strong>For Saturday or Sunday visits you must call by Friday at 5:00pm to cancel.</strong> When visits fall on a holiday, cancellation must be made no later than one week prior to the visit. If holiday cancellations are made less than one week in advance, parents are responsible for paying the late fee.</li>
                <li><strong>Failure of the visiting parent to arrive within 15 minutes of your designated time of arrival without calling to let us know that you will be running late, will result in cancellation.</strong> You will be responsible for paying the appropriate fee and the child(ren) will be returned to the custodial party.</li>
                <li><strong>Except for late cancellation or inability to arrive on time, all calls are to be placed to the monitor during office hours, Monday to Friday, 9:00 am to 5:00 pm (PST).</strong></li>
                <li><strong>Photographs may be taken during visits with prior approval of Administration, the child(ren), and the custodial parent.</strong> The custodial parent must sign the consent form prior to photographs being taken. Photographs should not be taken of monitors or any participant at any time. Monitor shall not take photograph of the parents and child(ren). NO audio or visual recording is permitted for any reason.</li>
                <li><strong>There are to be no changes in the supervised visitation schedule unless approved by the court and/or monitor.</strong> Once the day and time has been set, it will be followed on a weekly basis unless either party requests a change. Changes in the schedule must be done one week prior to visitation.</li>
                <li><strong>There shall be no permanent alteration of the child(ren) during visitation without prior approval of the custodial parent.</strong> This includes, but is not limited to: haircuts, tattoos, body/ear piercings, etc.</li>
            </ol>
            <p>Non-compliance with any rule or challenging the supervised monitor may lead to termination of services.<br>
            Refer to <a href="/legal" target="_blank">2018 California Rules of Court 5.20</a> for full list of parental guidelines.
            </p>
        </div>
    </div>

<% include partials/footer %>