<% include partials/header %>

<section id="carousel">
        <div class="carousel slide" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item">
                    <div class="jumbotron pulse animated hero-nature carousel-hero" style="background-image:url(&quot;/img/happy-family.jpg&quot;);">
                        <!-- <h1 class="hero-title">Build Family Bond</h1>
                        <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        <p><a class="btn btn-primary" role="button" href="#">Learn more</a></p> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron pulse animated hero-photography carousel-hero" style="background-image:url(&quot;/img/happy-family-2.jpg&quot;);">
                        <!-- <h1 class="hero-title">Healthy and Happy Family</h1>
                        <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        <p><a class="btn btn-primary" role="button" href="#">Learn more</a></p> -->
                    </div>
                </div>
                <div class="carousel-item active" style="background-position:center;">
                    <div class="jumbotron pulse animated hero-technology carousel-hero" style="background-image:url(&quot;/img/happy-family-1.jpg&quot;);">
                        <!-- <h1 class="hero-title">Provide a safe environment for kids to grow</h1>
                        <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        <p><a class="btn btn-primary" role="button" href="#">Learn more</a></p> -->
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
            <ol
                class="carousel-indicators">
                <li data-target="#carousel-1" data-slide-to="0"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
                </ol>
        </div>
    </section>
    <div class="highlight-clean">
        <div class="container">
            <div>
                <h2 class="text-center" data-aos="fade-right">FOR PARENTS LOOKING FOR A MONITOR<br></h2>
                <p class="lead text-center" data-aos="fade-right">The monitor will need to meet with both parents separately. This can be done at your homes, a coffee shop or other location. Note. Supervised Visitation Monitors are independent contractors, trained to handle Court ordered visitations.
                    The monitors are always paid in cash for their services at the beginning of each visit or other service that you require. This requirement is not a reflection upon you, but rather the nature of the business. </p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="/getting-started" data-aos="fade-up">GEtting STarted</a><a class="btn btn-light" role="button" href="/legal" data-aos="fade-up">LEGAL</a></div>
        </div>
    </div>
    <div>
        <div class="container padded">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 data-aos="fade-right">Step 1: Registration</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="lead" data-aos="fade-right" data-aos-delay="50">Initiating services with the Monitor is easy. The entire process can be completed quickly.&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"><img src="/img/registration.svg" width="80%" data-aos="fade-left" data-aos-delay="100"></div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container padded">
            <div class="row align-items-center">
                <div class="col-md-4"><img src="/img/submit.svg" width="100%" data-aos="fade-right"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 data-aos="fade-down">Step 2:&nbsp;Submit your documents</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="lead" data-aos="fade-up">After you have completed the new client registration packet, the first phase of the intake process begins.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container padded">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 data-aos="fade-right" data-aos-delay="50">Step 3: Attend Intake Interview</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="lead" data-aos="fade-right">The monitor will contact both parents to schedule separate intake orientation appointments.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"><img src="/img/interview.svg" width="110%" data-aos="fade-left"></div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container padded">
            <div class="row align-items-center">
                <div class="col-md-4"><img src="/img/schedule.svg" width="100%" data-aos="fade-right"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 data-aos="fade-left">Step 4:&nbsp;Scheduling and the First Visit</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="lead" data-aos="fade-up">During the interview you will be asked to provide information regarding your ideal visitation schedule.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="highlight-blue">
        <div class="container">
            <div>
                <h2 class="text-center" data-aos="fade-left">Getting Started</h2>
                <p class="lead text-center text-secondary" data-aos="fade-right">See all the steps in full with all the details</p>
            </div>
            <div data-aos="fade-up" class="buttons"><a class="btn btn-primary" role="button" href="/getting-started">Complete Steps</a></div>
        </div>
    </div>

<% include partials/footer %>