<% include partials/header %>

<div class="container">
        <div class="block-content shadow-sm">
            <h1>Legal</h1>
            <h5>Tips for visiting Parents</h5>
            <p><br>According to Family Code Section 3200,&nbsp;<a href="http://pharmacyviagra.net/"><strong>side effects</strong></a>&nbsp;all providers of supervised visitation must operate their programs in compliance with the “Uniform Standards of Practice
                for Providers of Supervised Visitation” which can be found in the California Rules of Court,&nbsp;<a href="http://cheap-cialis-pills.net/"><strong>check</strong></a>&nbsp;Standards of Judicial Administration,&nbsp;<a href="http://cialis-generic-online.net/"><strong>doctor</strong></a>&nbsp;Standard
                5.20. They are available for your perusal.<br><br></p>
            <ul>
                <li>Therefore when selecting one of the following supervised visitation monitors it is very important that you, as parents:<br></li>
                <li>Be familiar with the Standards of Practice<br></li>
                <li>Use good judgment when selecting any monitor<br></li>
                <li>Consider the value of having the monitor registered on Trustline or cleared through a criminal background check</li>
                <li>Trustline requires all caregivers listed on its registry to pass a background screening that qualifies them to be a child care provider. All persons listed on TrustLine have been cleared through a fingerprint check of records at the California
                    Dept. of Justice and have no disqualifying criminal convictions or substantiated child abuse reports in California that would prevent them from being a child care provider. As a monitor may be spending some time alone with your child,
                    it is wise to select a monitor that is registered. It is your responsibility as a parent, to verify that the monitor is actually registered by calling&nbsp;800-822-8490 FREE. Some agencies have the authority to do their own criminal
                    background screening with the Department of Justice without having to go through TrustLine.</li>
                <li>Consider using a monitor that carries professional liability insurance that specifically covers supervised visitation; ask to see a copy of their policy.</li>
                <li>Understand that a separate intake interview must be conducted with each parent and the children if age appropriate, prior to the first visit. Because of this, the first visit may not occur immediately.</li>
            </ul>
            <h1>2018 California Rules of Court<br></h1>
            <h5>Standard 5.20. Uniform standards of practice for providers of supervised visitation</h5>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" role="button" href="#collapse-1">A. Scope of service</a>
                <div class=" show" id="collapse-1">
                    <p class="p-in">This standard defines the standards of practice, including duties and obligations, for providers of supervised visitation under Family Code sections 3200 and 3200.5. Unless specified otherwise, the standards of practice are designed
                        to apply to all providers of supervised visitation, whether the provider is a friend, relative, paid independent contractor, employee, intern, or volunteer operating independently or through a supervised visitation center or agency.
                        The goal of these standards of practice is to assure the safety and welfare of the child, adults, and providers of supervised visitation. Once safety is assured, the best interest of the child is the paramount consideration at
                        all stages and particularly in deciding the manner in which supervision is provided. Each court is encouraged to adopt local court rules necessary to implement these standards of practice. <br> <br>(Subd (a) amended effective January
                        1, 2015; previously amended effective January 1, 2007.)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-2" role="button" href="#collapse-2">B. Definition<br></a>
                <div class="collapse" id="collapse-2">
                    <p class="p-in">Family Code section 3200 defines the term “provider” as including any individual or supervised visitation center that monitors visitation. Supervised visitation is contact between a noncustodial party and one or more children in the
                        presence of a neutral third person. <br> <br>(Subd (b) amended effective January 1, 2015; previously amended effective January 1, 2007.)<br></p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-3" role="button" href="#collapse-3">C. Type of provider</a>
                <div class="collapse" id="collapse-3">
                    <p class="p-in">Who provides the supervision and the manner in which supervision is provided depends on different factors, including local resources, the financial situation of the parties, and the degree of risk in each case. While the court makes
                        the final decision as to the manner in which supervision is provided and any terms or conditions, the court may consider recommendations by the attorney for the child, the parties and their attorneys, Family Court Services staff,
                        evaluators, and therapists. As specified in Family Code section 3200.5, in any case in which the court has determined that there is domestic violence or child abuse or neglect, as defined in section 11165.6 of the Penal Code, and
                        the court determines supervision is necessary, the court must consider whether to use a professional or nonprofessional provider based on the child’s best interest. <br> <br>(Subd (c) amended effective January 1, 2015; previously
                        amended effective January 1, 2007.)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-4" role="button" href="#collapse-4">D. Qualifications of nonprofessional providers<br></a>
                <div class="collapse" id="collapse-4">
                    <ol>
                        <li>A “nonprofessional provider” is any person who is not paid for providing supervised visitation services. Unless otherwise ordered by the court or stipulated by the parties, the nonprofessional provider must:
                            <ol type="A">
                                <li>Have no record of a conviction for child molestation, child abuse, or other crimes against a person;</li>
                                <li>Have proof of automobile insurance if transporting the child;</li>
                                <li>Have no current or past court order in which the provider is the person being supervised; and</li>
                                <li>Agree to adhere to and enforce the court order regarding supervised visitation.</li>
                                <li>Agree to adhere to and enforce the court order regarding supervised visitation.</li>
                            </ol>
                        </li>
                        <li>Unless otherwise ordered by the court or stipulated by the parties, the nonprofessional provider should:
                            <ol type="A">
                                <li>Be 21 years of age or older;</li>
                                <li>Have no record of conviction for driving under the influence (DUI) within the last 5 years;</li>
                                <li>Not have been on probation or parole for the last 10 years;</li>
                                <li>Have no civil, criminal, or juvenile restraining orders within the last 10 years; and</li>
                                <li>Not be financially dependent on the person being supervised.</li>
                            </ol>
                        </li>
                    </ol>
                    <p class="p-in">(Subd (d) relettered and amended effective January 1, 2015; adopted as part of subd (c).)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-5" role="button" href="#collapse-5">E.&nbsp;Qualifications of professional providers</a>
                <div class="collapse" id="collapse-5">
                    <p class="p-in">A “professional provider” is any person paid for providing supervised visitation services, or an independent contractor, employee, intern, or volunteer operating independently or through a supervised visitation center or agency. The
                        professional provider must:</p>
                    <ol>
                        <li>Be 21 years of age or older;</li>
                        <li>Have no record of conviction for driving under the influence (DUI) within the last 5 years;</li>
                        <li>Not have been on probation or parole for the last 10 years;</li>
                        <li>Have no record of a conviction for child molestation, child abuse, or other crimes against a person;</li>
                        <li>Have proof of automobile insurance if transporting the child;</li>
                        <li>Have no civil, criminal, or juvenile restraining orders within the last 10 years;</li>
                        <li>Have no current or past court order in which the provider is the person being supervised;</li>
                        <li>Have no current or past court order in which the provider is the person being supervised;</li>
                        <li>Agree to adhere to and enforce the court order regarding supervised visitation;</li>
                        <li>Meet the training requirements stated in (F); and</li>
                        <li>Sign a declaration or Declaration of Supervised Visitation Provider (form FL-324) stating that all requirements to be a professional provider have been met.</li>
                    </ol>
                    <p class="p-in">(Subd (e) relettered and amended effective January 1, 2015; adopted as part of subd (c).)<br></p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-6" role="button" href="#collapse-6">F.&nbsp;Training for providers</a>
                <div class="collapse" id="collapse-6">
                    <ol>
                        <li>Each court is encouraged to make available to all providers informational materials about the role of a provider, the terms and conditions of supervised visitation, and the legal responsibilities and obligations of a provider under
                            this standard</li>
                        <li>In addition, professional providers must receive 24 hours of training that includes the following subjects:
                            <ol type="A">
                                <li>The role of a professional provider;1</li>
                                <li>Child abuse reporting laws;</li>
                                <li>Record-keeping procedures;</li>
                                <li>Screening, monitoring, and termination of visitation;</li>
                                <li>Developmental needs of children;</li>
                                <li>Legal responsibilities and obligations of a provider;</li>
                                <li>Cultural sensitivity;</li>
                                <li>Conflicts of interest;</li>
                                <li>Confidentiality;</li>
                                <li>Issues relating to substance abuse, child abuse, sexual abuse, and domestic violence; and</li>
                                <li>Basic knowledge of family and juvenile law.</li>
                            </ol>
                        </li>
                    </ol>
                    <p class="p-in">(Subd (f) amended and relettered effective January 1, 2015; adopted as subd (d) effective January 1, 2007.)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-7" role="button" href="#collapse-7">G.&nbsp;Safety and security procedures</a>
                <div class="collapse" id="collapse-7">
                    <p class="p-in">All providers must make every reasonable effort to assure the safety and welfare of the child and adults during the visitation. Professional providers should establish a written protocol, with the assistance of the local law enforcement
                        agency, that describes the emergency assistance and responses that can be expected from the local law enforcement agency. In addition, the professional provider should:</p>
                    <ol>
                        <li>Establish and state in writing minimum security procedures and inform the parties of these procedures before the commencement of supervised visitation;</li>
                        <li>Conduct comprehensive intake and screening to understand the nature and degree of risk for each case. The procedures for intake should include separate interviews with the parties before the first visit. During the interview, the
                            provider should obtain identifying information and explain the reasons for temporary suspension or termination of a visit under this standard. If the child is of sufficient age and capacity, the provider should include the
                            child in part of the intake or orientation process. Any discussion should be presented to the child in a manner appropriate to the child’s developmental stage;</li>
                        <li>Obtain during the intake process:
                            <ol type="A">
                                <li>Copies of any protective order;</li>
                                <li>Current court orders;</li>
                                <li>Any Judicial Council form relating to supervised visitation orders;</li>
                                <li>A report of any written records of allegations of domestic violence or abuse; and</li>
                                <li>An account of the child’s health needs if the child has a chronic health condition; and</li>
                            </ol>
                        </li>
                        <li>Establish written procedures that must be followed in the event a child is abducted during supervised visitation.</li>
                    </ol>
                    <p class="p-in">(Subd (g) amended and relettered effective January 1, 2015; adopted as subd (d) effective January 1, 1998; previously amended and relettered as subd (e) effective January 1, 2007.)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-8" role="button" href="#collapse-8">H.&nbsp;Ratio of children to provider</a>
                <div class="collapse" id="collapse-8">
                    <p class="p-in">The ratio of children to a professional provider must be contingent on:<br></p>
                    <ol>
                        <li>The degree of risk factors present in each case;</li>
                        <li>The nature of supervision required in each case;</li>
                        <li>The number and ages of the children to be supervised during a visit;</li>
                        <li>The number of people, as provided in the court order, visiting the child during the visit;</li>
                        <li>The duration and location of the visit; and</li>
                        <li>The experience of the provider.</li>
                    </ol>
                    <p class="p-in">(Subd (h) amended and relettered effective January 1, 2015; adopted as subd (e) effective January 1, 1998; previously amended and relettered as subd (f) effective January 1, 2007.)<br></p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-9" role="button" href="#collapse-9">I.&nbsp;Conflict of interest</a>
                <div class="collapse" id="collapse-9">
                    <p class="p-in">All providers should maintain neutrality by refusing to discuss the merits of the case or agree with or support one party over another. Any discussion between a provider and the parties should be for the purposes of arranging visitation
                        and providing for the safety of the children. In order to avoid a conflict of interest, the professional provider should not:</p>
                    <ol>
                        <li>Be financially dependent on the person being supervised;</li>
                        <li>Be an employee of the person being supervised;</li>
                        <li>Be an employee of or affiliated with any superior court in the county in which the supervision is ordered unless specified in the employment contract; or</li>
                        <li>Be in an intimate relationship with the person being supervised.</li>
                    </ol>
                    <p class="p-in">(Subd (i) amended and relettered effective January 1, 2015; adopted as subd (f) effective January 1, 1998; previously amended and relettered as subd (g) effective January 1, 2007.)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-10" role="button" href="#collapse-10">J.&nbsp;Maintenance and disclosure of records for professional providers</a>
                <div class="collapse" id="collapse-10">
                    <ol>
                        <li>Professional providers must keep a record for each case, including the following:
                            <ol type="A">
                                <li>A written record of each contact and visit;</li>
                                <li>Who attended the visit;</li>
                                <li>Any failure to comply with the terms and conditions of the visitation; and</li>
                                <li>Any incidence of abuse as required by law.</li>
                            </ol>
                        </li>
                        <li>Case recordings should be limited to facts, observations, and direct statements made by the parties, not personal conclusions, suggestions, or opinions of the provider. All contacts by the provider in person, in writing, or by
                            telephone with either party, the children, the court, attorneys, mental health professionals, and referring agencies should be documented in the case file. All entries should be dated and signed by the person recording the
                            entry.</li>
                        <li>If ordered by the court or requested by either party or the attorney for either party or the attorney for the child, a report about the supervised visit must be produced. These reports should include facts, observations, and direct
                            statements and not opinions or recommendations regarding future visitation. The original report must be sent to the court if so ordered, or to the requesting party or attorney, and copies should be sent to all parties, their
                            attorneys, and the attorney for the child.</li>
                        <li>Any identifying information about the parties and the child, including addresses, telephone numbers, places of employment, and schools, is confidential, should not be disclosed, and should be deleted from documents before releasing
                            them to any court, attorney, attorney for the child, party, mediator, evaluator, mental health professional, social worker, or referring agency, except as required in reporting suspected child abuse.</li>
                    </ol>
                    <p>(Subd (j) amended and relettered effective January 1, 2015; adopted as subd (g) effective January 1, 1998; previously amended and relettered as subd (h) effective January 1, 2007.)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-11" role="button" href="#collapse-11">K. Confidentiality</a>
                <div class="collapse" id="collapse-11">
                    <p class="p-in">Communications between parties and providers of supervised visitation are not protected by any privilege of confidentiality. Professional providers should, whenever possible, maintain confidentiality regarding the case except when:</p>
                    <ol>
                        <li>Ordered by the court;</li>
                        <li>Subpoenaed to produce records or testify in court;</li>
                        <li>Requested to provide information about the case by a mediator or evaluator in conjunction with a court-ordered mediation, investigation, or evaluation;</li>
                        <li>Required to provide information about the case by Child Protective Services; or</li>
                        <li>Requested to provide information about the case by law enforcement.</li>
                    </ol>
                    <p class="p-in">(Subd (k) amended and relettered effective January 1, 2015; adopted as subd (h) effective January 1, 1998; previously amended and relettered as subd (i) effective January 1, 2007.)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-12" role="button" href="#collapse-12">L.&nbsp;Delineation of terms and conditions</a>
                <div class="collapse" id="collapse-12">
                    <p class="p-in">The provider bears the sole responsibility for enforcement of all the terms and conditions of any supervised visitation. Unless otherwise ordered by the court, the provider should implement the following terms and conditions:</p>
                    <ol>
                        <li>Monitor conditions to assure the safety and welfare of the child;</li>
                        <li>Enforce the frequency and duration of the visits as ordered by the court;</li>
                        <li>Avoid any attempt to take sides with either party;</li>
                        <li>Ensure that all contact between the child and the noncustodial party is within the provider’s hearing and sight at all times, and that discussions are audible to the provider;</li>
                        <li>Speak in a language spoken by the child and the noncustodial party;</li>
                        <li>Allow no derogatory comments about the other parent, his or her family, caretaker, child, or child’s siblings;</li>
                        <li>Allow no discussion of the court case or possible future outcomes;</li>
                        <li>Allow neither the provider nor the child to be used to gather information about the other party or caretaker or to transmit documents, information, or personal possessions;</li>
                        <li>Allow no spanking, hitting, or threatening the child;</li>
                        <li>Allow no visits to occur while the visiting party appears to be under the influence of alcohol or illegal drugs;</li>
                        <li>Allow no emotional, verbal, physical, or sexual abuse;</li>
                        <li>Allow no contact between the custodial and noncustodial parents unless ordered by the court; and</li>
                        <li>Ensure that the parties follow any additional rules stated by the provider or the court</li>
                    </ol>
                    <p class="p-in">(Subd (l) amended and relettered effective January 1, 2015; adopted as subd (i) effective January 1, 1998; previously amended and relettered as subd (j) effective January 1, 2007.)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-13" role="button" href="#collapse-13">M.&nbsp;Safety considerations for sexual abuse cases</a>
                <div class="collapse" id="collapse-13">
                    <p>In cases where there are allegations of sexual abuse, in addition to the requirements of (l), the provider should comply with the following terms and conditions, unless otherwise ordered by the court:</p>
                    <ol>
                        <li>Allow no exchanges of gifts, money, or cards;</li>
                        <li>Allow no photographing, audiotaping, or videotaping of the child;</li>
                        <li>Allow no physical contact with the child such as lap sitting, hair combing, stroking, hand holding, hugging, wrestling, tickling, horseplaying, changing diapers, or accompanying the child to the bathroom;</li>
                        <li>Allow no whispering, passing notes, hand signals, or body signals; and</li>
                        <li>Allow no supervised visitation in the location where the alleged sexual abuse occurred.</li>
                    </ol>
                    <p>(Subd (m) amended and relettered effective January 1, 2015; adopted as subd (j) effective January 1, 1998; previously amended and relettered as subd (k) effective January 1, 2007.)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-14" role="button" href="#collapse-14">N.&nbsp;Legal responsibilities and obligations of a provider</a>
                <div class="collapse" id="collapse-14">
                    <p>All nonprofessional providers of supervised visitation should, and all professional providers must:</p>
                    <ol>
                        <li>Advise the parties before commencement of supervised visitation that no confidential privilege exists;</li>
                        <li>Report suspected child abuse to the appropriate agency, as provided by law, and inform the parties of the provider’s obligation to make such reports; and</li>
                        <li>Suspend or terminate visitation under (p).</li>
                    </ol>
                    <p>(Subd (n) amended and relettered effective January 1, 2015; adopted as subd (k) effective January 1, 1998; previously amended and relettered as subd (l) effective January 1, 2007.)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-15" role="button" href="#collapse-15">O.&nbsp;Additional legal responsibilities of professional providers</a>
                <div class="collapse" id="collapse-15">
                    <p>In addition to the legal responsibilities and obligations required in (n), professional providers must:</p>
                    <ol>
                        <li>Prepare a written contract to be signed by the parties before commencement of the supervised visitation. The contract should inform each party of the terms and conditions of supervised visitation; and</li>
                        <li>Review custody and visitation orders relevant to the supervised visitation.</li>
                    </ol>
                    <p>(Subd (o) amended and relettered effective January 1, 2015; adopted as subd (l) effective January 1, 1998; previously amended and relettered as subd (m) effective January 1, 2007.)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-16" role="button" href="#collapse-16">P.&nbsp;Temporary suspension or termination of supervised visitation</a>
                <div class="collapse" id="collapse-16">
                    <ol>
                        <li>All providers must make every reasonable effort to provide a safe visit for the child and the noncustodial party.</li>
                        <li>However, if a provider determines that the rules of the visit have been violated, the child has become acutely distressed, or the safety of the child or the provider is at risk, the visit may be temporarily interrupted, rescheduled
                            at a later date, or terminated.</li>
                        <li>All interruptions or terminations of visits must be recorded in the case file.</li>
                        <li>All providers must advise both parties of the reasons for interruption of a visit or termination.</li>
                    </ol>
                    <p class="p-in">(Subd (p) amended and relettered effective January 1, 2015; adopted as subd (m) effective January 1, 1998; previously amended and relettered as subd (n) effective January 1, 2007.)</p>
                </div>
            </div>
            <div><a class="btn-lg" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-17" role="button" href="#collapse-17">Q.&nbsp;Additional requirements for professional providers</a>
                <div class="collapse" id="collapse-17">
                    <p class="p-in">Professional providers must state the reasons for temporary suspension or termination of supervised visitation in writing and provide the written statement to both parties, their attorneys, the attorney for the child, and the court.</p>
                    <p
                        class="p-in">(Subd (q) amended and relettered effective January 1, 2015; adopted as subd (n) effective January 1, 1998; previously amended and relettered as subd (o) effective January 1, 2007.)</p>
                        <p class="p-in">Standard 5.20 amended effective January 1, 2015; adopted as sec. 26.2 effective January 1, 1998; previously amended and renumbered effective January 1, 2007.</p>
                </div>
            </div>
            <div class="mt-5">
            <center><p>The offcial publication of rules can be found on <a href="http://www.courts.ca.gov/cms/rules/index.cfm?title=standards&linkid=standard5_20" target="_blank">California court Website.</a></p></center>
            </div>
        </div>
    </div>

<% include partials/footer %>